h1
{

	color:red;
}

body
{
	background-color:skyblue;

}

td 
{

	vertical-align:top;
}

#img1
{
	width: 300px;
}

#img2 
{

	width: 300px;
}

table 

{
	background-color:white;
}

#title
{
	font-style: arialblack;
}